@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-sm-12 text-center">
        <img src="~/Content/img/inicio.jpg" alt="Pizzas Castillo" class="img-responsive img-center" style="height: 75vh; margin: 0 auto;" />
    </div>
</div>